/*
    NIM :A11.2022.14741
    AUTHOR :M REZA
    DATE :11/13/2022
    SITE :RZPTRA.MY.ID
    REPO : https://github.com/mrzptra/pbw2022
*/

h1{
    text-align: center;
    font-family: sans-serif;
}
p{
    text-align: left;
    background-color: aquamarine
}